button {
    & > * {
        pointer-events: none;
    }

    &:hover {
        opacity: .8;
    }

    &.btn-submit {
        svg {
            width: 2.2em;
            height: 2.2em;
            position: absolute;
            top: 25%;
            left: 25%;
        }

        transition: opacity 0.1s ease-in-out;
        width: 2.4em;
        height: 2.4em;
        position: absolute;
        top: 12px;
        left: 14em;
        background: none;
        outline: none;
    }

    &.btn-inactive {
        transition: opacity 0.1s ease-in-out;
        opacity: .3;
    }

    font-size: inherit;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    border: 0 none;
    cursor: pointer;
}
