@import './_vars.css';
@import './_button.css';

.listing-contrib {
    $width: 640px;

    @media only screen and (min-width: 768px) {
        left: calc((100% / 2) - ($width / 2));
        max-width: $width;
    }

    position: fixed;
    top: 10px;
    left: 4%;
    width: calc(100% - 40px);
    max-width: 90%;
    min-width: 360px;
    padding: 20px 10px;
    background-color: rgb(252, 255, 244);
    overflow-y: scroll;
    max-height: 90%;

    a {
        &:hover {
            background-color: rgb(245, 245, 245);
        }

        position: relative;
        padding: 6px 10px 4px;
        display: block;
        color: $base-black;
    }

    .header-modal {
        color: $base-black;
        margin-top: 0;
        margin-left: .5em;
    }

    .modal-close {
        @media only screen and (min-width: 400px) {
            position: fixed;
            top: 1.8em;
            right: 6%;
        }

        @media only screen and (min-width: 768px) {
            right: calc(50% - 320px);
        }

        display: block;
        transform: scale(.5);
        position: absolute;
        right: 0;
        left: auto;
        background: transparent;
        fill: grey;
    }

    .crown-icon {
        transition: top 0.3s ease-in;
        position: absolute;
        top: -16px;
        left: 14px;
        fill: rgb(216, 209, 65);
    }

    .avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .graph-container {
        display: inline-block;
        width: 85%;
        max-width: 100%;
        position: relative;
        top: -4px;
        left: 10px;
    }
}
