@import './_vars.css';
@import './_anims.css';

* {
    &:before,
    &:after {
        box-sizing: border-box;
    }

    box-sizing: border-box;
}

body {
    :global &.scroll-no {
        overflow-y: hidden;
    }

    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: $base-black;
    color: $base-white;
    margin: 0;
}

ul {
    li {
        list-style-type: none;
    }

    padding: 0;
}

.svg-icon-spinner {
    animation: rotation 2s infinite linear;
    margin: 12px;
    fill: $base-white;
}

.container-error {
    padding: 12px;
}

.svg-icon {
    background-color: transparent;
}
