@import './_vars.css';
@import './_button.css';

form.selector-project {
    input {
        &:focus {
            opacity: .9;
            transition: opacity 0.1s ease-in-out;
        }

        &:selection {
            background: $brand-teal-light;
        }

        display: inline-block;
        font-size: 1.3em;
        padding: 0 1.8em 0 .5em;
        transition: opacity 0.1s ease-in-out;
        background-color: rgb(250, 250, 250);
        opacity: .7;
        height: 2.4rem;
        border-top: 0 none;
        border-right: 0 none;
        border-bottom: 2px solid rgba(255, 0, 0, .6);
        border-left: 0 none;
        outline: 0 none;
        width: 12em;
    }

    background-color: $brand-teal;
    padding: 12px;
    position: relative;
}
