@import './_vars.css';
@import './_button.css';

.listing-repo {
    li {
        font-size: .8em;
        margin-bottom: .8em;
    }

    button {
        font-size: 1.3em;
        padding: .3em .5em;
        outline: none;
        border-bottom: 2px solid $brand-teal-light;
    }

    padding: 0 12px 12px 12px;

    .repo-fork {
        .fork-icon {
            transform: scale(1.3);
            transform-origin: -80% -50%;
            fill: $base-white;
        }

        position: absolute;
        top: 0px;
        right: -2em;
        width: 2em;
        height: calc(100% + 2px);
        display: inline-block;
        background-color: $brand-teal-light;
        border-radius: 0 50% 50% 0;
    }
}
